.task {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255, 252, 249);
  color: rgb(8, 45, 15);
  border-radius: 10px;
  min-width: 0px;
  max-width: 390px;
  min-height: 200px;
  font-size: 1rem;
  box-shadow: 10px 10px 5px rgb(102, 132, 125);
}

.text {
  display: block;
  max-width: 390px;
  padding: 1.5rem;
  word-break: break-all;
}

.taskBtn {
  width: 40%;
  align-self: center;
  margin: 0rem 0rem 0.5rem 0rem;
}
