.list {
  display: flex;
  font-size: 2rem;
  color: rgb(8, 45, 15);
  text-align: start;
  background-color: rgb(23, 184, 144);
  border: none;
  padding: 4px 5px;
}

.listBtn {
  border: none;
  width: 100%;
  text-align: start;
  border-radius: 0px;
}

.list:hover {
  background-color: rgb(15, 133, 103);
}

.listBtn:focus {
  background-color: rgb(15, 133, 103);
}
