.newTaskBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 252, 249);
  color: rgb(8, 45, 15);
  border-radius: 10px;
  min-width: 380px;
  max-width: 380px;
  min-height: 200px;
  box-shadow: 10px 10px 5px rgb(102, 132, 125);
}

.plus {
  font-size: 6rem;
  font-weight: 900;
}

.btnText {
  font-size: 1.5rem;
}
